* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;

    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.main-body {

    width: 100%;
    background-color: #fffaf4;

}

.content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.sign-in button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #f2ddff;
    color: #754ef9;
    font-weight: 600;
}

/* .get-started-one button{ 
    margin-top: 30px;
    width: 200px;
    height: 35px;
    border: none;
    background-color: #754ef9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
} */

.sign-in button:hover {
    scale: 1.1;
    transition: 0.5s;
    cursor: pointer;
}

.h1 {
    font-size: 50px;
    color: black;

}

.text1 {
    max-width: 500px;
    font-size: 1.3rem;
    font-style: italic;
}

.text2 {
    font-size: 1.3rem;
    font-style: italic;
}

.role {
    color: red;
    font-size: 50px;
}

@media(max-width:730px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .vector {
        width: 90%;
        height: 400px;
    }
}

.features {

    display: flex;
    flex-direction: row;
    gap: 70px;

    margin: 5rem;


}


@media(max-width:940px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .videos-section {
        flex-direction: column;
        align-items: center;
    }

}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box:hover {
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.our-features {
    font-weight: bolder;
    font-style: italic;
    color: var(--main-color);
    font-size: 3rem;
    margin-top: 2em;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin-bottom: 2em;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 100;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.services-box {
    width: 390px;
    overflow-y: hidden;
    background: var(--bg-color);
    border-radius: 2rem;
    gap: 2em;
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    text-align: center;
    border-top: 0.6rem solid var(--main-color);
    border-bottom: 0.6rem solid var(--main-color);
    transition: .5s ease;
}

@media(max-width:450px) {
    .services-box {
        width: 89%;
    }

    .features {
        margin: 5rem 0;
    }

    .explanation {
        width: 89%;
    }

    .videos {
        width: 98%;
    }

    .explanation .h1 {
        font-size: 2rem;
    }
}

.services-box p {
    font-size: 1.9rem;
    margin: 1rem 0 3rem;
}

.services-box i {

    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2rem;
    margin: 0 1em;
    transition: .5s ease;
}

.services-box p {
    font-size: 1rem;
    margin: 1rem 0 3rem;
}

.videos-section {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.about-us {
    background-color: #f2ddff;
    padding: 0.5rem;
}

.about-us-content {

    max-width: 70%;
    font-weight: bolder;
    line-height: 40px;
    margin: 5rem auto;
}

.bold {
    font-weight: bolder;
}

.heading {
    font-size: 4rem;
    margin-top: 1.8rem;
    text-align: center;
}

.me {
    color: var(--main-color);
}

.contact form {
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

.contact {
    min-height: auto;
    padding-bottom: 6rem;
}

.contact h2 {
    margin-bottom: 2rem;
}

.contact form {
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.2rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

a {
    text-decoration: none;
    color: white;
}

.contact form .input-box input {
    width: 45%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 1.5rem;
    cursor: pointer;
}

@media(max-width:700px) {
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .input-box {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .contact form .input-box input {
        width: 85%;
        margin: 0 auto;
    }

    .textarea {

        margin: 0 auto;
        width: 85%;
        margin: 2rem;

    }
}

.nav-bar {
    background-color: rgba(150, 122, 240, 0.88);
    display: flex;
    justify-content: space-between;
}

.small-logo {
    width: 70px;
    margin: 10px 30px;

}

.sign-in {
    color: aliceblue;
    font-size: larger;
    align-self: center;
    margin-right: 2rem;
    transition: .3s ease;
}

.sign-in:hover {
    transform: scale (1.05);
    font-weight: bold;

}

.footer {
    background-color: rgba(150, 122, 240, 0.88);
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* footer left*/

.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}

.footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .icons {
    margin-top: 25px;
}

.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
    width: 30%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: aliceblue;
    text-decoration: none;
}


/* footer right*/

.footer .footer-right {
    width: 35%;
}

.footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.footer h2 span {
    color: black;
}

.footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer .menu a:hover {
    color: black;
}

.footer .name {
    color: aliceblue;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer .footer-center i {
        margin-left: 0;
    }
}

.img{
    border-radius: 50%;
    width:150px;

  }
  .photos{
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
  }
  .photos1{
    display: flex;
    flex-direction: column;
  }
  .img1{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
  }
  #tel{
    color: aliceblue;
    text-decoration: none;
  }

  @media(max-width:700px){
    .our-features{
      font-size: 2rem;
    }
  }