@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    left: 0;
    right: 0;
    margin-left: 25vw;
    margin-right: auto;
    /* padding: 20px; */
    font-family: 'Mulish', sans-serif;
}

.edit_information {
    padding: 0 20px;
    width: 700px;
    border: 1px solid #363062;
    border-radius: 5px;
    background-color: #363062;
    color: #fff;
}

.row {
    margin-bottom: 15px;
}

.column {
    /* padding-left: 20px; */
    width: 90%;
}

.profile_details_text {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #28a745;
}

.btn:hover {
    background-color: #218838;
}